.container {
    font-family: Arial, sans-serif;
}

h2 {
    font-weight: bold;
}

.form-group {
    margin-top: 15px;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.btn-success {
    background-color: #bdac96;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-success:hover {
    background-color: #bdac96;
}
