<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5 class="balooc">Contacto </h5>
        <p>• Trabajamos con Bonilla Café </p>
        <p>• Calle bolivar 107, Arequipilla, Arequipa, Peru </p>
        <p>• Telf: 964 726 568 </p>
        <p>• Email: republicacafe&#64;gmail.com </p>
      </div>
      <div class="col-md-3">
        <h5 class="balooc">Información de la empresa</h5>
        <p><a routerLink="/empresa" class="text balooc">Nuestra Empresa</a></p>
        <p><a routerLink="/trabaja" class="text balooc">Trabaja con Nosotros</a></p>
      </div>
      <div class="col-md-3">
        <h5 class="balooc">Acerca de</h5>
        <p><a routerLink="/terminos" class="text balooc">Términos y Condiciones</a></p>
        <p><a routerLink="/tiendas" class="text balooc">Tiendas</a></p>
        <p><a routerLink="/libro-reclamaciones">
            <img src="assets/Libro-de-reclamaciones.webp" alt="Libro de Reclamaciones" class="img-fluid mt-2"
              style="cursor: pointer;">
          </a></p>
      </div>
      <div class="col-md-3">
        <h5 class="balooc">Síguenos</h5>
        <a href="https://www.facebook.com/republicacafe" target="_blank" class="text-success">
          <i class="fab fa-facebook" style="color: #3b5998;"></i>
        </a>
        <a href="https://www.instagram.com/republicacafe.aqp/" target="_blank" class="text-success">
          <i class="fab fa-instagram" style="color: #e1306c;"></i>
        </a>
        <a href="https://www.tiktok.com/@republicacafe.aqp" target="_blank" class="text-success">
          <i class="fab fa-tiktok" style="color: #000000;"></i>
        </a>

      </div>
    </div>
  </div>
</footer>
