<div class="container mt-5 mb-5">
    <div class="row no-gutters">
        <div class="col-md-6 product-detail-left">
            <h2 class="text-left mb-4 balooc">{{ producto.nombre }}</h2>
            <p class="baloo"><strong>Descripción</strong></p>
            <p class="baloo2">{{ producto.descripcion }}</p>
            <div class="form-group">
                <label for="tamano" class="baloo">Selecciona el tamaño</label>
                <select id="tamano" class="form-control baloo2">
                    <option *ngFor="let tamano of producto.tamanos">{{ tamano }}</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="cantidad" class="baloo">Cantidad</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button"
                            (click)="decrementarCantidad()">-</button>
                    </div>
                    <input type="text" id="cantidad" class="form-control text-center" [value]="cantidad" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"
                            (click)="incrementarCantidad()">+</button>
                    </div>
                </div>
            </div>
            <p><strong class="baloo">Precio: </strong><strong class="price">{{ producto.precio | currency:'S/. ':'symbol':'1.2-2' }}</strong></p>
            <button class="btn btn-success mt-3 baloo">Añadir al Carrito</button>
        </div>
        <div class="col-md-6 product-detail-right">
            <img [src]="producto.imagen" alt="{{ producto.nombre }}" class="img-fluid product-image">
        </div>
    </div>
</div>
