<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-bottom p-0 m-4 logoout">
		<a class="navbar-brand mr-sm-2 logoimg" href="#"  >
				<img src="assets/logo.png" alt="Logo" width="90" height="90" class="d-inline-block align-top">

			<span class="ml-2 d-none d-lg-inline-block align-middle republica-cafe">REPÚBLICA CAFÉ</span>

			<span class="ml-2 d-lg-none mt-5 align-middle">REPÚBLICA CAFÉ</span> <!-- para pantalla pequeña-->



		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
				<ul class="navbar-nav mx-auto">
						<li class="nav-item">
								<a class="nav-link btn btn-outline-success balooc" routerLink="/cafes">CAFES</a>
						</li>
						<li class="nav-item">
								<a class="nav-link btn btn-outline-success balooc" routerLink="/postres">POSTRES</a>
						</li>
						<li class="nav-item">
								<a class="nav-link btn btn-outline-success balooc" routerLink="/especiales">ESPECIALES</a>
						</li>
						<li class="nav-item">
								<a class="nav-link btn btn-outline-success balooc" routerLink="/pizzas">PIZZAS</a>
						</li>
				</ul>
				<form class="form-inline my-2 my-lg-0 d-none d-lg-flex align-items-center">
						<div class="search-container">
								<input [formControl]="searchControl" type="text" class="search-input" placeholder=" Buscar... ">
								<span class="search-icon fa fa-search"></span>
						</div>
				</form>
				<a class="nav-link d-none d-lg-block" href="#">
						<img src="assets/carrito.png" alt="Store" width="45" height="45">
				</a>

				<!--
						<form class="form-inline my-2 my-lg-0 mx-auto d-none d-lg-flex align-items-center">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
				<a class="nav-link navbar-brand d-none d-lg-block mx-auto" href="#">
						<img src="assets/carrito.png" width="30" height="30" alt="Logo">
				</a>

						<form class="form-inline my-2 my-lg-0">
						<div class="search-container">
								<input [formControl]="searchControl" type="text" class="search-input" placeholder="Buscar...">
								<span class="search-icon fa fa-search"></span>
						</div>
				</form>
				<a class="nav-link" href="#">
						<img src="assets/carrito.png" alt="Store" width="40" height="45">
				</a>-->
		</div>
		<div class="d-lg-none d-flex justify-content-center align-items-center mt-2">

					 <!-- <form class="form-inline my-2 my-lg-0 mx-auto d-none d-lg-flex align-items-center w-100">-->
				<form class="form-inline d-flex align-items-center">
						<div class="search-container">
								<input [formControl]="searchControl" type="text" class="search-input mr-sm-2 w-100" placeholder=" Buscar... ">
								<span class="search-icon fa fa-search my-2 my-sm-0"></span>
						</div>
				</form>
				<a class="nav-link" href="#">
						<img src="assets/carrito.png" alt="Store" width="45" height="45">
				</a>
		</div>
</nav>
