<div class="container mt-2 mb-4">
    <h2 class="text-left mb-4 balooc">Libro de Reclamaciones</h2>
    <form [formGroup]="reclamacionForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nombres">Nombres y Apellidos</label>
            <input type="text" id="nombres" formControlName="nombres" class="form-control" />
        </div>
        <div class="form-group">
            <label for="direccion">Dirección</label>
            <input type="text" id="direccion" formControlName="direccion" class="form-control" />
        </div>
        <div class="form-group">
            <label for="dni">DNI</label>
            <input type="text" id="dni" formControlName="dni" class="form-control" />
        </div>
        <div class="form-group">
            <label for="correo">Correo</label>
            <input type="email" id="correo" formControlName="correo" class="form-control" />
        </div>
        <div class="form-group">
            <label for="celular">Celular</label>
            <input type="text" id="celular" formControlName="celular" class="form-control" />
        </div>
        <div class="form-group">
            <label for="comentario">Comentario</label>
            <textarea id="comentario" formControlName="comentario" class="form-control" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-success mt-3">Enviar</button>
    </form>
</div>