<div class="container mt-2 mb-5">
  <h2 class="text-left mb-4 balooc">Nuestra Empresa República Café</h2>

  <p>Bienvenidos a República Café, el lugar donde el arte del café cobra vida en cada sorbo. Nos dedicamos con pasión
    a crear experiencias inolvidables a través de una exquisita selección de cafés de especialidad, que celebran la
    riqueza y diversidad del café peruano.</p>

  <p>Desde nuestros primeros días, nos hemos comprometido a ofrecer solo lo mejor, trabajando con productores locales y
    utilizando granos seleccionados con los más altos estándares de calidad. Cada taza servida en República Café es un
    tributo al esfuerzo y dedicación que ponemos en cada etapa del proceso, desde la cosecha hasta el último detalle en
    la preparación.</p>

  <p>En República Café, creemos en la importancia de crear un espacio donde nuestros clientes puedan disfrutar no solo
    del sabor, sino también de la cultura y el ambiente acogedor que caracteriza a nuestro café. Nos enorgullece ser
    parte de tus momentos cotidianos y especiales, llenándolos de aroma, sabor y calidez.</p>

  <p>Te invitamos a descubrir el universo del café en República Café y a acompañarnos en esta apasionante travesía,
    donde cada taza es una nueva oportunidad de disfrutar lo mejor que el café peruano tiene para ofrecer.</p>

  <img src="/assets/empresa.png" alt="República Café" class="company-image">
</div>
