<div class="container mt-2 mb-5">
  <h2 class="text-left mb-4 balooc">¿Cómo puedo trabajar?</h2>

  <p>Puedes presentar solicitudes de empleo o consultar en nuestra página de LinkedIn los puestos de trabajo disponibles
    en cada momento.</p>

  <p>Si deseas unirte a nuestro equipo en República Café, consulta directamente la sección de trabajos en tienda.
    Creemos que nuestro equipo es el corazón de nuestro éxito. Si eres una persona apasionada, talentosa y con ganas de
    marcar la diferencia, ¡queremos conocerte! Ofrecemos un ambiente de trabajo dinámico y colaborativo donde cada
    miembro es valorado y tiene la oportunidad de crecer profesionalmente. Explora nuestras oportunidades laborales y
    únete a nosotros en nuestra misión de ofrecer los mejores productos de café y repostería elaborados con mucho amor y
    de la más alta calidad.</p>

  <p>Si compartes nuestros valores y estás buscando un lugar donde puedas crecer profesionalmente mientras contribuyes
    al crecimiento de nuestra empresa, ¡te invitamos a unirte a nuestro equipo! Explora nuestras oportunidades laborales
    y postula hoy mismo. Juntos, podemos alcanzar grandes logros y hacer la diferencia.</p>
  <p>Envía tu currículum y carta de presentación a <a href="mailto:republicacafe@gmail.com">republicacafe&#64;gmail.com</a>
    y comienza tu viaje con República Café.</p>

  <p>Estamos ubicados en Calle Bolívar 107, Arequipilla, Arequipa, Perú. Para más información, contáctanos al teléfono
    <strong>964 726 568</strong>.</p>

</div>
