<div class="container mt-2 mb-5">
  <h2 class="text-left mb-4 balooc">Términos y Condiciones</h2>
  <h4>Política de envíos, garantía y devolución de producto</h4>
  <p>Al realizar un pedido de productos en República Café, todas las personas aceptan de manera clara y expresa los
    siguientes términos y condiciones, los cuales son obligatorios y vinculantes.</p>
  <p><strong>Es responsabilidad del usuario leer, comprender y aceptar todas las condiciones establecidas en estos
    Términos y Condiciones.</strong></p>

  <div class="mt-4">
    <h5>Despacho y Retiro de productos</h5>
    <p>Los productos adquiridos a través de República Café estarán sujetos a las condiciones de entrega seleccionadas
      por el cliente y que están disponibles en nuestro sitio web. La información del lugar de entrega es de exclusiva
      responsabilidad del cliente. Los pedidos serán entregados dentro del horario de 9 am a 6 pm en la fecha
      seleccionada por el cliente. Es responsabilidad del cliente estar presente en la dirección de entrega o designar a
      una persona responsable para su recepción.</p>
    <p>Los servicios de entrega disponibles son los siguientes:</p>
    <p><strong>Retiro en tienda:</strong> Este servicio aplica a productos que cumplen con las dimensiones necesarias
      para ser atendidos en nuestros locales. El cliente deberá recoger su pedido en la fecha y hora programadas en la
      tienda seleccionada. Si el cliente no retira su pedido al cierre del horario de atención, podrá recogerlo al día
      siguiente.</p>
  </div>

  <div class="mt-4">
    <h5>Despacho a domicilio</h5>
    <p>Este servicio implica la entrega del pedido en la dirección ingresada por el cliente al momento de realizar el
      pedido, y está sujeto a nuestras zonas de entrega disponibles. Los plazos para el despacho y la entrega comenzarán
      a contarse una vez que República Café haya validado el pedido. Este plazo se cumplirá siempre que las condiciones
      de seguridad y acceso lo permitan, y que no se presente un caso fortuito o fuerza mayor. El servicio de entrega a
      domicilio puede implicar un recargo adicional, el cual se determinará en función de la zona de reparto y se
      informará en el resumen del pedido con el precio total a abonar.</p>
  </div>

</div>
